ol.css-list em {
	font-weight:bold;
	font-style:normal;
}

code {
	font-weight:bold;
	font-size:105%;
}

xmp {
	font-weight:bold;
	font-size:90%;
	color:green;
}

.quote-tab { 
	margin-left: 6px; 
	border-left: 3px solid gray;
	padding-left: 16px;
	color: gray;
}

td {
	vertical-align: top;
}

table#css-props td:first-child {
	font-weight:bold;
	font-family:monospace;
	color:red;
	font-size:95%;
        vertical-align:middle;
	background-color:lightgray;
	border:2px solid white;
}

table#css-props code {
	font-weight:bold;
	font-family:monospace;
	color:red;
	font-size:95%;
}



